<!DOCTYPE html>    
 <html xmlns:th="http://www.thymeleaf.org">    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj proizvodjaca vakcine</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 </head>   
 <body>    
 	<nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li><a href="vakcine">Vakcine</a></li>     
	 		<li><a href="proizvodjaciVakcine">Proizvodjaci Vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Vesti o obolelima</a></li>        
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 	</div>
	</nav>
	<section class="content">
	<div class = "content">
 	<form method="post" action="add">    
 		<table>    
 			<caption>Proizvodjac vakcine</caption>    
 			<tr><th>Naziv proizvodjaca:</th><td><input type="text" value="" name="proizvodjac"/></td></tr>   
 			<tr><th>Drzava proizvodnje:</th><td><input type="text" value="" name="drzavaProizvodnje"/></td></tr>   
 			
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	</div>
 	</section>
 	<br/>  
 </body>  
 </html>  		