<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">    
   
 <head>    
 	<meta charset="UTF-8">    
 	<base th:href="@{/}">      
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 	<title>Dodaj korisnika</title>   
 </head>    
 <body> 
 <h2>EUprava</h2>   
 	 <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li th:if="${session.korisnik != null }"><a href="korisnici" >Korisnici</a></li>
			<li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
			<li th:if="${session.korisnik != null }"><a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Statistika o obolelima</a></li>        
	 		<li><a href="">Odjava</a></li>  
	 	</ul>     
	 	</div>
	</nav>
	
	<section class="content">
	<div class = "content">
 	<form method="post" action="korisnici/add">    
 		<table>    
 			<caption>Korisnik</caption>    
 			
 			<tr><th>Email:</th><td><input type="text" value="" name="email"/></td></tr>
			<tr><th>Lozinka:</th><td><input type="password" value="" name="lozinka"/></td></tr>
			<tr><th>Ime:</th><td><input type="text" value="" name="ime"/></td></tr>
			<tr><th>Prezime:</th><td><input type="text" value="" name="prezime"/></td></tr>
			<tr><th>Datum rodjenja:</th><td><input type="date" value="" name="datumRodjenja"/></td></tr>
			<tr><th>JMBG:</th><td><input type="text" value="" name="jmbg"/></td></tr>
			<tr><th>Adresa:</th><td><input type="text" value="" name="adresa"/></td></tr>
			<tr><th>Broj telefona:</th><td><input type="number" value="" name="brojTelefona"/></td></tr>
			
 			
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 		
 	</form>   
 	</div>
 		</section>
 	<br/>  
 </body>  
 </html>  		