<!DOCTYPE html>    
 <html xmlns:th="http://www.thymeleaf.org">    
 <head>    
 	<meta charset="UTF-8">    
 	<base th:href="@{/}">     
 	<title>Dodaj vest</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 	
 </head>    
 <body>    
 	 <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li><a href="vakcine">Vakcine</a></li>     
	 		<li><a href="proizvodjaciVakcine">Proizvodjaci Vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Vesti o obolelima</a></li>        
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 	</div>
	</nav>
	
	<section class="content">
	<div class = "content"> 
 	<form method="post" action="add">    
 		<table>    
 			<caption>Vest</caption>    
 			<tr><th>Naziv:</th><td><input type="text" value="" name="nazivVesti"/></td></tr>    
 			<tr><th>Sadrzaj:</th><td><input type="text" value="" name="sadrzajVesti"/></td></tr>   
 		   <tr><th>Datum i vreme objavljivanja:</th><td><input type="datetime-local" name="datumIVremeObjavljivanja"/></td></tr>
 			<tr><th></th><td><input type="submit" value="Dodaj"/></td>    
 		</table>    
 	</form>   
 	</div>
 		</section>
 	<br/>  
 </body>  
 </html>  		