<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Korisnici</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body> 
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li><a href="vakcine">Vakcine</a></li>     
	 		<li><a href="proizvodjaciVakcine">Proizvodjaci Vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Vesti o obolelima</a></li>        
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 	</div >
	</nav>
	
	  <section class="content">
	<div class = "content">
	 		<table>     
	 			<caption>Korisnici</caption>     
	 			<tr>      
	 			   <th>R. br.</th>     
	 				<th></th>  
	 				<th>Email</th>          
	 				<th>Ime</th>   
	 				<th>Prezime</th>   
	 				<th>Datum Rodjenja</th>   
	 				<th>JMBG</th>   
	 				<th>Adresa</th>   
	 				<th>Broj telefona</th>  
	 				<th>Datum i vreme registracije</th>
	 				<th> Uloga </th> 
	 				<th></th>   
	 			
	 			</tr>
	 			<tr th:each="itKorisnik, status: ${korisnici}">
	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|korisnici/details?id=${itKorisnik.id}|" th:text="${itKorisnik.ime}"></a></td>    
	 	  
	 				<td th:text="${itKorisnik.email}"></td>    
	 				<td th:text="${itKorisnik.ime}"></td>   
	 				<td th:text="${itKorisnik.prezime}"></td>   
	 				<td th:text="${itKorisnik.datumRodjenja}"></td>   
	 				<td th:text="${itKorisnik.jmbg}"></td>   
	 				<td th:text="${itKorisnik.adresa}"></td>   
	 				<td th:text="${itKorisnik.brojTelefona}"></td>   
	 				<td th:text="${itKorisnik.datumIVremeRegistracije}"></td> 
	 				<td th:text="${itKorisnik.uloga}"></td>
	 				<td>    
	 					<form method="post" action="korisnici/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itKorisnik.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 	    <div class = 'btn'>
	 		<a href="korisnici/add" class = "btn">Dodaj korisnika</a>    
	 	</div>
	 </body>   
 </html>	