<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Vakcine</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li><a href="vakcine">Vakcine</a></li>     
	 		<li><a href="proizvodjaciVakcine">Proizvodjaci Vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Vesti o obolelima</a></li>        
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 	</div>
	</nav>
	<section class="content">
	<div class = "content">
	 		<table>     
	 			<caption>Vakcine</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th></th>     
	 				<th>Ime</th>     
	 				<th>Dostupna Kolicina</th>     
	 				<th>Proizvodjac vakcine</th>    
	 				  
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itVakcina, status: ${vakcine}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|vakcine/details?id=${itVakcina.id}|" th:text="${itVakcina.ime}"></a></td>    
	 				<td th:text="${itVakcina.ime}"></td>    
	 				<td class="broj" th:text="${itVakcina.dostupnaKolicina}"></td>    
	 				<td th:text="${itVakcina.proizvodjac}"></td>       
	 				
	 				<td>    
	 					<form method="post" action="vakcine/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itVakcina.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 	    <div class = 'btn'> 
	 	<a href="vakcine/add" class = "btn">Dodaj vakcinu</a>
	 </div>
	 </body>   
 </html>	