<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Vakcina</title>
</head>
<body>
	 <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li><a href="vakcine">Vakcine</a></li>     
	 		<li><a href="proizvodjaciVakcine">Proizvodjaci Vakcine</a></li>
	 		<li><a href="vesti">Vesti</a></li>   
	 		<li><a href="vestiOObolelima">Vesti o obolelima</a></li>        
	 		<li><a href="korisnici">Korisnici</a></li>     
	 	</ul>     
	 	</div>
	</nav>
	
	<section class="content">
	<div class = "content">
	<form method="post" action="vakcine/edit">
		<input type="hidden" name="id" th:value="${vakcina.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Vakcina</caption>
			<tr><th>Ime:</th><td><input type="text" th:value="${vakcina.ime}" name="ime"/></td></tr>
			<tr><th>Dostupna kolicina:</th><td><input type="number" th:value="${vakcina.dostupnaKolicina}" name="dostupnaKolicina"/></td></tr>
			<tr><th>Proizvodjac vakcine:</th><td><select name = "idProizvodjaca" th:value="${itProizvodjacVakcine}"></select></td></tr>


	<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		
		</table>
	</form>
	
	<form method="post" action="vakcine/delete">
		<input type="hidden" name="id" th:value="${vakcina.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
	</div>
	</section>
	
	
</body>
</html>